<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置一个日期对象 -->
    <bean id="now" class="java.util.Date"></bean>
    <!-- set方法注入 -->
    <!--    <bean id="accountService1" class="com.zgkaii.spring.mission.mission2.impl.AccountServiceImpl">-->
    <!--        <property name="name" value="zhangsan"></property>-->
    <!--        <property name="age" value="22"></property>-->
    <!--        <property name="birthday" ref="now"></property>-->
    <!--    </bean>-->

    <!-- 构造函数注入 -->
    <!--    <bean id="accountService2" class="com.zgkaii.spring.mission.mission2.impl.AccountServiceImpl2">-->
    <!--        <constructor-arg name="name" value="lisi"></constructor-arg>-->
    <!--        <constructor-arg name="age" value="18"></constructor-arg>-->
    <!--        <constructor-arg name="birthday" ref="now"></constructor-arg>-->
    <!--    </bean>-->

    <!-- 复杂类型的注入/集合类型的注入 -->
    <!--    <bean id="accountService3" class="com.zgkaii.spring.mission.mission2.impl.AccountServiceImpl3">-->
    <!--        <property name="myStrs">-->
    <!--            <set>-->
    <!--                <value>AAA</value>-->
    <!--                <value>BBB</value>-->
    <!--                <value>CCC</value>-->
    <!--            </set>-->
    <!--        </property>-->

    <!--        <property name="myList">-->
    <!--            <array>-->
    <!--                <value>AAA</value>-->
    <!--                <value>BBB</value>-->
    <!--                <value>CCC</value>-->
    <!--            </array>-->
    <!--        </property>-->

    <!--        <property name="mySet">-->
    <!--            <list>-->
    <!--                <value>AAA</value>-->
    <!--                <value>BBB</value>-->
    <!--                <value>CCC</value>-->
    <!--            </list>-->
    <!--        </property>-->

    <!--        <property name="myMap">-->
    <!--            <props>-->
    <!--                <prop key="testC">ccc</prop>-->
    <!--                <prop key="testD">ddd</prop>-->
    <!--            </props>-->
    <!--        </property>-->

    <!--        <property name="myProps">-->
    <!--            <map>-->
    <!--                <entry key="testA" value="aaa"></entry>-->
    <!--                <entry key="testB">-->
    <!--                    <value>BBB</value>-->
    <!--                </entry>-->
    <!--            </map>-->
    <!--        </property>-->
    <!--    </bean>-->

    <!-- 使用 context 命名空间，通知Spring扫描指定包下所有Bean类，进行注解解析 -->
    <context:component-scan base-package="com.zgkaii.spring.mission"></context:component-scan>

<!--    <bean id="student123"-->
<!--          class="com.zgkaii.spring.demo.spring01.Student">-->
<!--        <property name="id" value="123"/>-->
<!--        <property name="name" value="KK123"/>-->
<!--    </bean>-->

<!--    <bean id="student100"-->
<!--          class="com.zgkaii.spring.demo.spring01.Student">-->
<!--        <property name="id" value="100"/>-->
<!--        <property name="name" value="KK100"/>-->
<!--    </bean>-->

<!--    <bean id="class1" class="com.zgkaii.spring.demo.spring02.Klass">-->
<!--        <property name="students">-->
<!--            <list>-->
<!--                <ref bean="student100"/>-->
<!--                <ref bean="student123"/>-->
<!--                &lt;!&ndash;                <bean class="com.zgkaii.spring.demo.spring01.Student">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <property name="name" value="qq" />&ndash;&gt;-->
<!--                &lt;!&ndash;                    <property name="id" value="001" /> &ndash;&gt;-->
<!--                &lt;!&ndash;                </bean>&ndash;&gt;-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->


<!--    <context:component-scan base-package="com.zgkaii.spring.demo.spring02"/>-->


<!--    <bean id="aop1" class="com.zgkaii.spring.demo.spring02.Aop1"/>-->

<!--    <bean id="aop2" class="com.zgkaii.spring.demo.spring02.Aop2"/>-->

<!--    &lt;!&ndash;    <aop:aspectj-autoproxy proxy-target-class="true" />&ndash;&gt;-->
<!--    <aop:aspectj-autoproxy/>-->

<!--    <aop:config>-->
<!--        <aop:pointcut expression="execution(* com.zgkaii.spring.demo.aop.*.*(..))" id="p1"/> &lt;!&ndash;切点&ndash;&gt;-->
<!--        <aop:aspect ref="aop1"> &lt;!&ndash;切面 &ndash;&gt;-->
<!--            <aop:around method="around" pointcut-ref="p1"/>-->
<!--            <aop:before method="startTransaction" pointcut-ref="p1"/> &lt;!&ndash;前置通知&ndash;&gt;-->
<!--            <aop:after-returning method="commitTransaction" pointcut-ref="p1"/> &lt;!&ndash;后置通知&ndash;&gt;-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

<!--    &lt;!&ndash;    <context:annotation-config />&ndash;&gt;-->
<!--    &lt;!&ndash;    &ndash;&gt;-->
<!--    <bean id="school" class="com.zgkaii.spring.demo.spring02.School"></bean>-->


</beans>